
{% extends "base.html" %}

{% block content %}

    <h2>Support</h2>

    <div class="row">
        <div class="span8">
            <p>
            For troubleshooting, feature requests, and general help, contact with Ibergrid HelpDesk
            by:
            </p>
            <ul>
                <li>Sending an e-mail to helpdesk-ibergrid@rediris.es</li>
                <li> or opening a ticket in the <a href="https://rt-ngi.rediris.es/">Ibergrid HelpDesk</a> .
            </ul>
            <p>
            Please make sure to include every possible detail about your problem (date, what were you trying to do, errors obtained, etc.)
            </p>
        </div>
        <div class="span4">
        </div>
    </div>

{% endblock %}
